.header {
  color: #fff;
  background: #000;
}
.header .content-wrapper {
  padding: 24px 12px 18px 24px;
  font-size: 0;
}
.header .content-wrapper .avatar {
  display: inline-block;
}
.header .content-wrapper .content {
  display: inline-block;
  margin-left: 16px;
  font-size: 14px;
}
.header .content-wrapper .content .title {
  margin: 2px 0 8px 0;
}
.header .content-wrapper .content .title .brand {
  display: inline-block;
  width: 30px;
  height: 18px;
}
