.cartcontrol
    font-size: 0
    .cart-decrease
        display: inline-block
        vertical-align: top
        padding: 6px
        opacity: 1
        .inner
            display: inline-block
            vertical-align: top
            line-height: 24px
            font-size: 24px
            color: rgb(0, 160, 220)
            transition: all 0.4s linear
            transform: rotate(0)
        &.move-enter-active, &.move-leave-active
            transition: all .5s
        &.move-enter, &.move-leave-active
            opacity: 0
            transform: translate3d(24px, 0, 0)
            .inner
                transform: rotate(180deg)
    .cart-count
        display: inline-block
        vertical-align: top
        width: 12px
        padding-top: 6px
        line-height: 24px
        text-align: center
        font-size: 10px
        color: rgb(147, 153, 150)
    .cart-add
        display: inline-block
        vertical-align: top
        padding: 6px
        line-height: 24px
        font-size: 24px
        color: rgb(0, 160, 220)